<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Conociéndote | Inkafarma</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-responsive.css">
		<link rel="stylesheet" type="text/css" href="assets/css/imperio.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script language="JavaScript">
function showData(frm){
        upd = "{{ datos }}";
  if (upd=="1")
  {
	frm.ptelFijo.value = "{{ empData.telfFijo }}";
    frm.ptelCel.value = "{{ empData.telCel }}";
    frm.pemail.value = "{{ empData.pemail }}";
    frm.pcontactEmer.value = "{{ empData.contactoEmer}}";
    frm.pcontactoTelF.value = "{{ empData.contactoTelF }}";
    frm.pcontactoTelC.value = "{{ empData.contactoTelC }}";
    frm.ptrabInterior.value = "{{ empData.trabInterior }}";
    frm.pturno.value = "{{ empData.turno }}";
    
    frm.pTipoVia.value = "{{ empData.domtipoVia }}"
    frm.nomVia.value = "{{ empData.domnombreVia }}";
    frm.pTipoZona.value = "{{ empData.domtipoZona}}";
    frm.pnomZona.value = "{{ empData.domnomZona }}";
    frm.pnum.value = "{{ empData.domnumero }}";
    frm.pinterior.value = "{{ empData.dominterior }}";
    frm.pdepartamento.value = "{{ empData.domDept }}";
    frm.pmanzana.value = "{{ empData.domManz}}";
    frm.plote.value = "{{ empData.domLote }}";
    frm.pkm.value = "{{ empData.domKm }}";
    frm.pblock.value = "{{ empData.domBlock }}";
    frm.petapa.value = "{{ empData.domEtapa}}";
    frm.preferencia.value = "{{ empData.domRef}}";
    frm.pubi.disabled=false;
    frm.pubigeo.value ="{{ empData.domUbiDep }}"+ "{{empData.domUbiProv}}" + "{{empData.domUbiDist}}" + "-" + "{{empData.domUbiDescrip }}";
    frm.pubi.value ="{{ empData.domUbiDep }}"+ "{{empData.domUbiProv}}" + "{{empData.domUbiDist}}" + "-" + "{{empData.domUbiDescrip }}";
    frm.pubi.disabled=true;
    frm.mViv.value = "{{ vivProp }}";
    frm.mVivOtros.value ="{{ vivPropOtros }}";
    frm.mMiembros.value = "{{ mMiembros }}";
	
	var res=document.getElementById("mViv");
	if (res.value=='Otros') {
		console.debug(res.value);
		pSel = document.getElementById("tdOtros");
		pSel.style.display='block';
		} else {
		console.debug(res.value);
		pSel = document.getElementById("tdOtros");
		pSel.style.display='none';
	}
  }
}
function limitText(limitField, limitNum) {
    if (limitField.value.length > limitNum) {
        limitField.value = limitField.value.substring(0, limitNum);
    } 
}

function isNumberKey(evt)
{
	var charCode = (evt.which) ? evt.which : event.keyCode;
	if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57))
		return false;
	return true;
}
</script>
<script>
	function formSubmit(valor)
	{
	    switch (valor)
	    {
		case 1:
		    document.forms["frmMain"].pOpcion.value = "1.- Información Personal";
		    break;
		case 2:
		    document.forms["frmMain"].pOpcion.value = "2.- Dependientes";
		    break;
		case 3:
		    document.forms["frmMain"].pOpcion.value = "3.- Estudios";
		    break;
		case 4:
		    document.forms["frmMain"].pOpcion.value = "4.- Capacitaciones";
		    break;
		case 5:
		    document.forms["frmMain"].pOpcion.value = "5.- Experiencia Laboral";
		    break;
		case 6:
		    document.forms["frmMain"].pOpcion.value = "6.- Habilidades";
		    break;
		case 7:
		    document.forms["frmMain"].pOpcion.value = "7.- Hobbies" ;
		    break;
		case 8:
		    document.forms["frmMain"].pOpcion.value = "8.- Datos Adicionales" ;
		    break;
		case 9:
		    document.frmMain.pOpcion.value = "Salir" ;
		    break;
	    }
	    document.frmMain.submit();
	}
	</script>	
	</head>
    <body onload="showData(document.frmPersonal);">
	<form action="main.html" method="post" name="frmMain" target="_self">
	    <input type="hidden" name="frmName" value="main" />
	    <input type="hidden" name="empkey" value="{{emp.key}}"/>
	    <input type="hidden" name="pOpcion"/>
	</form>
    
        <div class="container-fluid nopadding">
            <div class="row-fluid">
                <div class="span12">
                    <div id="header">
<a href="#">
<img src="assets/images/logo.png" alt="">
</a>
<div class="hright">
<a href="javascript:formSubmit(9);"><button class="btn btn-danger"><i class="icon-remove icon-white"></i> Cerrar Sesión</button></a>
</div>
</div>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="container">
            <div class="row-fluid">
            
                <div class="span3 leftmenu">
                    <ul style="position: relative; top: 0px; width: auto;">
                        <li class="active"><a href="javascript:formSubmit(1);"><span class="ico"><i class="icon-user"></i></span><span class="text">Información Personal</span></a></li>
                        <li><a href="javascript:formSubmit(2);"><span class="ico"><i class="icon-th-list"></i></span><span class="text">Dependientes</span></a></li>
                        <li><a href="javascript:formSubmit(3);"><span class="ico"><i class="icon-book"></i></span><span class="text">Estudios</span></a></li>
                        <li><a href="javascript:formSubmit(4);"><span class="ico"><i class="icon-ok"></i></span><span class="text">Capacitaciones</span></a></li>
                        <li><a href="javascript:formSubmit(5);"><span class="ico"><i class="icon-briefcase"></i></span><span class="text">Experiencia Laboral</span></a></li>
                        <li><a href="javascript:formSubmit(6);"><span class="ico"><i class="icon-check"></i></span><span class="text">Habilidades</span></a></li>              
                        <li><a href="javascript:formSubmit(7);"><span class="ico"><i class="icon-eye-open"></i></span><span class="text">Hobbies</span></a></li>
                        <li><a href="javascript:formSubmit(8);"><span class="ico"><i class="icon-plus-sign"></i></span><span class="text">Datos Adicionales</span></a></li>
                        
                        <li style="color:#30782e;"><br><strong>* Si no puedes terminar el censo, puedes darle "Guardar" y luego seguir contestando en otro momento.</strong></li>
                        
                    </ul>                                        
                </div>
		<form id="frmPersonal" name="frmPersonal" method="post" action="" class="form-horizontal" novalidate>
		    <input type="hidden" name="frmName" value="page000" />
		    <input type="hidden" name="empkey" value="{{emp.key}}"/>
		    <input name="pubigeo" type="hidden" id="pubigeo" />
                <div class="span9" id="content">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="box alternate">
                                <div class="box-content nopadding">
                                        <div class="box-content">Información Personal:</div>
                                        
                                        <div class="control-group">
                                            <label class="control-label">Tipo de Vía</label>
                                            <div class="controls">
                                                <select name="pTipoVia" id="pTipoVia">
                                                    {% for valor in tipovias %}
                                                    <option value="{{ valor.idValor }}"> {{ valor.nombre }} </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">Nombre de Vía</label>
                                            <div class="controls">
                                                <input name="nomVia" id="nomVia" onkey="limitText(nomVia,20);" type="text">
                                            </div>
                                        </div>  
                                        <div class="control-group">
                                            <label class="control-label">Tipo de Zona</label>
                                            <div class="controls">
                                                <select name="pTipoZona" id="pTipoZona">
                                                {% for valor1 in tipozonas %}
                                                <option value="{{ valor1.idValor }}">{{ valor1.nombre }}</option>
                                                {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">Nombre de Zona</label>
                                            <div class="controls">
                                                <input type="text" name="pnomZona" id="pnomZona" />
                                            </div>
                                        </div> 
                                        <div class="control-group">
                                            <label class="control-label">Número</label>
                                            <div class="controls">
                                                <input type="text" name="pnum" id="pnum" />
                                            </div>
                                        </div> 
                                        <div class="control-group">
                                            <label class="control-label">Interior</label>
                                            <div class="controls">
                                                <input type="text" name="pinterior" id="pinterior" />
                                            </div>
                                        </div> 
                                        <div class="control-group">
                                            <label class="control-label">Departamento</label>
                                            <div class="controls">
                                                <input type="text" name="pdepartamento" id="pdepartamento" />
                                            </div>
                                        </div> 
                                        <div class="control-group">
                                            <label class="control-label">Manzana</label>
                                            <div class="controls">
                                                <input type="text" name="pmanzana" id="pmanzana" />
                                            </div>
                                        </div> 
                                        <div class="control-group">
                                            <label class="control-label">Lote</label>
                                            <div class="controls">
                                                <input type="text" name="plote" id="plote" />
                                            </div>
                                        </div> 
                                        <div class="control-group">
                                            <label class="control-label">Kilometro</label>
                                            <div class="controls">
                                                <input type="text" name="pkm" id="pkm" />
                                            </div>
                                        </div> 
                                        <div class="control-group">
                                            <label class="control-label">Block</label>
                                            <div class="controls">
                                                <input type="text" name="pblock" id="pblock" />
                                            </div>
                                        </div> 
                                        <div class="control-group">
                                            <label class="control-label">Etapa</label>
                                            <div class="controls">
                                                <input type="text" name="petapa" id="petapa" />
                                            </div>
                                        </div> 
                                        <div class="control-group">
                                            <label class="control-label">Referencia</label>
                                            <div class="controls">
                                                <input type="text" name="preferencia" id="preferencia" />
                                            </div>
                                        </div> 
                                        <div class="control-group">
                                            <label class="control-label">Departamento</label>
                                            <div class="controls">
                                                <input name=b1 id=b1 type=button value="Seleccionar" 
        onclick="var prevReturnValue = window.returnValue; 
                 window.returnValue = undefined;
                 var url='ubigeo.html';
                 orig='{{ empData.domUbiDep }}'+ '{{empData.domUbiProv}}' + '{{empData.domUbiDist}}';
                 if (orig !='') {
                    url='ubigeo.html?ubig='+orig;
                 }
                 var dlgReturnValue = window.showModalDialog(url,'','dialogWidth:450px; dialogHeight:250px');
                 if (dlgReturnValue == undefined) { dlgReturnValue = window.returnValue; }
                 window.returnValue = prevReturnValue;
                 document.getElementById('pubigeo').value = dlgReturnValue;
                 pubi.disabled=false;
                 pubi.value= dlgReturnValue;
                 pubi.disabled=true;" />
         <input name="pubi" type="text" id="pubi" size="70" />
                                            </div>
                                        </div>
                                        <div class="box-content">Teléfonos de Contacto:</div>
                                        <div class="control-group">
                                            <label class="control-label">Teléfono fijo</label>
                                            <div class="controls">
                                                <input type="text" name="ptelFijo" id="ptelFijo" onkeypress="return isNumberKey(event)" />
                                            </div>
                                        </div>                                                                                
                                        <div class="control-group">
                                            <label class="control-label">Celular</label>
                                            <div class="controls">
                                                <input type="text" name="ptelCel" id="ptelCel" onkeypress="return isNumberKey(event)"/>
                                            </div>
                                        </div>                                         
                                        <div class="control-group">
                                            <label class="control-label">Email</label>
                                            <div class="controls">
                                                <input type="text" name="pemail" id="pemail" />
                                            </div>
                                        </div>                                         
                                        <div class="box-content">En caso de emergencia llamar a:</div>                                        
                                        <div class="control-group">
                                            <label class="control-label">Nombre</label>
                                            <div class="controls">
                                                <input type="text" name="pcontactEmer" id="pcontactEmer" />
                                            </div>
                                        </div>                                                                                
                                        <div class="control-group">
                                            <label class="control-label">Teléfono fijo</label>
                                            <div class="controls">
                                                <input type="text" name="pcontactoTelF" id="pcontactoTelF" onkeypress="return isNumberKey(event)" />
                                            </div>
                                        </div>                                         
                                        <div class="control-group">
                                            <label class="control-label">Celular</label>
                                            <div class="controls">
                                                <input type="text" name="pcontactoTelC" id="pcontactoTelC" onkeypress="return isNumberKey(event)"/>
                                            </div>
                                        </div>                                                                                 
                                        <div class="box-content">¿Podría trabajar en el interior?:</div>                                    
                                        <div class="control-group">
                                            <label class="control-label">Indique</label>
                                            <div class="controls">
                                                <select name="ptrabInterior" id="ptrabInterior">
                                                {% for valor2 in sino %}
                                                <option value="{{ valor2.idValor }}">{{ valor2.nombre }}</option>
                                                {% endfor %}
                                                </select>
                                            </div>
                                        </div>                                        
                                        <div class="control-group">
                                            <label class="control-label">¿En qué turno?</label>
                                            <div class="controls">
                                                <select name="pturno" id="pturno">
                                                {% for valor2 in turnos %}
                                                <option value="{{ valor2.idValor }}">{{ valor2.nombre }}</option>
                                                {% endfor %}
                                                </select>
                                            </div>
                                        </div>                                        
                                        <div class="box-content">Vivienda:</div>
<script>
function checkViv() {
    var res=document.getElementById("mViv");
    if (res.value=='Otros') {
	console.debug(res.value);
	pSel = document.getElementById("tdOtros");
	pSel.style.display='block';
	}
    else {
	console.debug(res.value);
	pSel = document.getElementById("tdOtros");
	pSel.style.display='none';
	}
    }
</script>
                                        <div class="control-group">
                                            <label class="control-label">Su Vivienda es</label>
                                            <div class="controls">
                                                <select name="mViv" size="1" id="mViv" onchange="checkViv()">
                                                <option value="Propia">Propia</option>
                                                <option value="Alquilada">Alquilada</option>
                                                <option value="Familiar">Familiar</option>
                                                <option value="Otros">Otros</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">Otros</label>
                                            <div class="controls" id="tdOtros" style="display:none">
                                                <input name="mVivOtros" type="text" id="mVivOtros" value="" size="45" />
                                            </div>
                                        </div>                                        
                                        <div class="box-content">¿Cuántas personas viven en su casa? (Incluyéndote):</div>                                        
                                        <div class="control-group">
                                            <label class="control-label">Indique</label>
                                            <div class="controls">
                                                <select name="mMiembros" size="1" id="mMiembros">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="20">Más de 10</option>
                                                </select>
                                            </div>
                                        </div>                                                                      
                                        <div class="form-actions">
                                            <input type="submit" name="control" id="action" class="btn btn-danger" value="Guardar">
                                            <button class="btn btn-primary delete" name="control" id="action" value="Cancelar">Cancelar</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="box-title" style="text-align:right">
                                <img src="assets/images/logo-ink.png">
                                </div>
                                
                            </div>                        
                        </div>
                    </div>
                </div>
            
            </div>       
        </div>
        <script type="text/javascript" src="assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="assets/js/imperio.general.js"></script>
        <script type="text/javascript" src="assets/js/imperio.forms.js"></script>    
</body>
</html>