<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Censo 2012</title>

<style type="text/css">
@import url(http://fonts.googleapis.com/css?family=Sanchez);
@font-face {
  font-family: "DilleniaUPC";
  src: url(assets/fonts/upcdb.ttf) format("truetype");
}
html, body{ margin:0; height:100%}
body {background-color: #e3f2c7; background-image: url(assets/images/mainback-degrade.png); background-repeat: repeat-x; background-position: 0px -40px;
}
#header-title { position: absolute; top: 30px; right: 20px; background-image: url(assets/images/rayas-titulo.png); height: 300px; width: 500px; background-repeat: no-repeat; background-position: right 45px; padding-right: 25px; }
#header-title h1 {font: 42px/42px 'Sanchez', "Courier New", Courier, monospace, serif; color: #dc2219; font: bold 69px/69px  "DilleniaUPC"; text-shadow: 5px 2px 3px #fffab6; filter: dropshadow(color=#fffab6, offx=5, offy=2); margin: 0px; padding: 0px; text-align: right; }
#header-title h2 { color: #dc2219; font: normal 16px/16px Arial, Helvetica, sans-serif; text-shadow: 5px 2px 3px #fffab6; filter: dropshadow(color=#fffab6, offx=5, offy=2); margin: 0px; padding: 0px; text-align: right; }

#apDiv1 {
	position: absolute;
	left: 26px;
	top: 97px;
	width: 940px;
	height: 649px;
	z-index: 1;
}
#apDiv1 {
	font-family: Arial, Helvetica, sans-serif;
}
</style>
<script language="JavaScript">
function showData(frm){
        upd = "{{ datos }}";
		frm.datos.value = upd;
  if (upd=="1")
  {
	  {% for valor in libres %}
	frm.librekey.value= "{{ valor.key }}";
	frm.cuentared.value = "{{ valor.empCuenta }}";
    frm.anexoempresa.value = "{{ valor.empAnexo }}";
    frm.celularempresa.value = "{{ valor.empCelular }}";
    frm.rpmempresa.value = "{{ valor.empRPM }}";
    frm.emailempresa.value = "{{ valor.empEmail}}";
	{% endfor %}
	frm.datos.value =1
	frm.mVacunas.value = "{{ mVac }}";
	frm.hSalida.value = "{{ hSalida }}";
	frm.hSalidaNote.value ="{{ hSalidaNote }}";
	frm.mEnf.value = "{{ antEnf }}";
	frm.mEnf1.value = "{{ antEnf1 }}";
	frm.mEnf2.value = "{{ antEnf2 }}";
	frm.mEnf3.value = "{{ antEnf3 }}";
	frm.mEnf4.value = "{{ antEnf4 }}";
	frm.mEnf5.value = "{{ antEnf5 }}";
	frm.mEnf6.value = "{{ antEnf6 }}";
	frm.mEnf7.value = "{{ antEnf7 }}";
	frm.mEnf8.value = "{{ antEnf8 }}";
	frm.mEnf9.value = "{{ antEnf9 }}";
	frm.mEnf10.value = "{{ antEnf10 }}";
	frm.mEnfTexto.value = "{{ antEnfNote }}"
	frm.mEnfAct.value = "{{ actEnf }}";
	frm.mEnfAct1.value = "{{ actEnf1 }}";
	frm.mEnfAct2.value = "{{ actEnf2 }}";
	frm.mEnfAct3.value = "{{ actEnf3 }}";
	frm.mEnfAct4.value = "{{ actEnf4 }}";
	frm.mEnfAct5.value = "{{ actEnf5 }}";
	frm.mEnfAct6.value = "{{ actEnf6 }}";
	frm.mEnfAct7.value = "{{ actEnf7 }}";
	frm.mEnfAct8.value = "{{ actEnf8 }}";
	frm.mEnfAct9.value = "{{ actEnf9 }}";
	frm.mEnfAct10.value = "{{ actEnf10 }}";
	frm.mEnfActTexto.value = "{{ actEnfNote }}";
	
	var res=document.getElementById("mEnf");
	if (res.value=='si') {
		console.debug(res.value);
		pSel = document.getElementById("divEnf");
		pSel.style.display='block';
		pSel1 = document.getElementById("divEnf1");
		pSel1.style.display='block';
		} else {
		console.debug(res.value);
		pSel = document.getElementById("divEnf");
		pSel.style.display='none';
		pSel1 = document.getElementById("divEnf1");
		pSel1.style.display='none';
	}
	
	var res=document.getElementById("mEnfAct");
	if (res.value=='si') {
		console.debug(res.value);
		pSel = document.getElementById("divAct");
		pSel.style.display='block';
		pSel1 = document.getElementById("divAct1");
		pSel1.style.display='block';
		} else {
		console.debug(res.value);
		pSel = document.getElementById("divAct");
		pSel.style.display='none';
		pSel1 = document.getElementById("divAct1");
		pSel1.style.display='none';
	}
  }
}
function limitText(limitField, limitNum) {
    if (limitField.value.length > limitNum) {
        limitField.value = limitField.value.substring(0, limitNum);
    } 
}

function isNumberKey(evt)
{
	var charCode = (evt.which) ? evt.which : event.keyCode;
	if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57))
		return false;
	return true;
}
</script>
</head>

<body onload="showData(document.frmPersonal);"><div id="header-title">
  <h1>Conociéndote</h1>
  <h2>Censo</h2>
</div>

<div id="apDiv1">
  <form id="frmPersonal" name="frmPersonal" method="post" action="">
  
    <p>
      <input type="submit" name="control" id="action" value="Regresar" />
      <input type="hidden" name="frmName" value="page080" />
      <input type="hidden" name="empkey" value="{{emp.key}}"/>
      <input type="hidden" name="librekey" value=""/>
      <input name="pubigeo" type="hidden" id="pubigeo" />
      <input name="datos" type="hidden" id="datos" />
    </p>
    <h2>Hola, {{emp.nombres}} {{emp.apePat}}  {{emp.apeMat}}</h2>
    <h3>Queremos conocer más de ti, te pedimos puedas  completar la siguiente información:</h3>
    <table width="755" border="0">
      <tr>
        <td width="113"><div align="left"><strong>Datos Personales</strong></div></td>
        <td width="212">&nbsp;</td>
        <td width="337">&nbsp;</td>
        <td width="75">&nbsp;</td>
      </tr>
      <tr>
        <td><div align="right"></div></td>
        <td><label for="cuentared">Usuario de red:</label></td>
        <td><input type="text" name="cuentared" id="cuentared" onkey="limitText(nomVia,20);"/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><div align="right"></div></td>
        <td><label for="anexoempresa">Anexo Empresa:</label></td>
        <td><input type="text" name="anexoempresa" id="anexoempresa" onkey="limitText(anexoempresa,20);"/>
	</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><div align="right"></div></td>
        <td><label for="celularempresa">Celular Empresa:</label></td>
        <td><input type="text" name="celularempresa" id="celularempresa" onkey="limitText(celularempresa,20);"/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><div align="right"></div></td>
        <td><label for="rpmempresa">RPM Empresa:</label></td>
        <td><input type="text" name="rpmempresa" id="rpmempresa" onkey="limitText(rpmempresa,20);" /></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><div align="right"></div></td>
        <td><label for="emailempresa">Email Empresa:</label></td>
        <td><input type="text" name="emailempresa" id="emailempresa" onkey="limitText(emailempresa,100);"/></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3"> <strong>Si tiene hijos, ¿Ellos tienen todas sus vacunas?</strong></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Vacunas</td>
        <td><select name="mVacunas" size="1" id="mVacunas">
          <option value="Si" selected="selected">Si</option>
          <option value="No">No</option>
          <option value="Nohijos">No tengo hijos</option>
        </select></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      
      <tr>
        <td colspan="3"><strong>Si tiene hijos, ¿Con quién se quedan tus hijos cuando sales a trabajar?</strong></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Con quien se quedan:</td>
        <td><select name="hSalida" size="1" id="hSalida">
          <option value="ninera" selected="selected">Con una niñera</option>
          <option value="familiar">Con un familiar</option>
          <option value="solos">Solos</option>
          <option value="colegio">Colegio/Guarderia</option>
          <option value="otros">Otros</option>
          <option value="no">No tengo hijos</option>
        </select></td>
        <td>
        <input name="hSalidaNote" type="text" id="hSalidaNote" value="" size="45" /></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3"><strong>¿Tiene antecedentes de alguna enfermedades?</strong></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <script>
		function checkAntEnf() {
			var res=document.getElementById("mEnf");
			if (res.value=='si') {
				console.debug(res.value);
				pSel = document.getElementById("divEnf");
				pSel.style.display='block';
				pSel1 = document.getElementById("divEnf1");
				pSel1.style.display='block';
				}
			else {
				console.debug(res.value);
				pSel = document.getElementById("divEnf");
				pSel.style.display='none';
				pSel1 = document.getElementById("divEnf1");
				pSel1.style.display='none';
				}
		}
		</script>
        <td>
          <select name="mEnf" size="1" id="mEnf" onchange="checkAntEnf()">
            <option value="si" selected="selected">Si</option>
            <option value="no">No</option>
        </select></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr >
        <td>&nbsp;</td>
        <td colspan="2"><strong>En caso de ser positiva su respuesta, seleccione entre las siguientes opciones, una o más, según sea tu caso particular</strong></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td></td>
        <td id='divEnf' style='display:'>
          <input type="checkbox" name="mEnf1" id="mEnf1" value="Alergias"/>Alergias<br>
          <input type="checkbox" name="mEnf2" id="mEnf2" value="Diabetes" />Diabetes<br>
          <input type="checkbox" name="mEnf3" id="mEnf3" value="TBC"/>TBC<br>
          <input type="checkbox" name="mEnf4" id="mEnf4" value="Hepatitis B"/>Hepatitis B<br>
          <input type="checkbox" name="mEnf5" id="mEnf5" value="Asma"/>Asma<br>
          <input type="checkbox" name="mEnf6" id="mEnf6" value="Tifoidea"/>Tifoidea<br>
          <input type="checkbox" name="mEnf7" id="mEnf7" value="Bronquitis"/>Bronquitis<br>
          <input type="checkbox" name="mEnf8" id="mEnf8" value="Neoplasia"/>Neoplasia<br>
          <input type="checkbox" name="mEnf9" id="mEnf9" value="Convulsiones"/>Convulsiones<br>
          <input type="checkbox" name="mEnf10" id="mEnf10" value="Otros"/>Otros
        </td>
        <td valign="bottom" id='divEnf1' style='display:'>
        <input name="mEnfTexto" type="text" id="mEnfTexto" value="" size="45" /></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3"><strong>Sufres actualmente de alguna enfermedad:</strong></td>
        <td>&nbsp;</td>
      </tr>
      <script>
		function checkAct() {
			var res=document.getElementById("mEnfAct");
			if (res.value=='si') {
				console.debug(res.value);
				pSel = document.getElementById("divAct");
				pSel.style.display='block';
				pSel1 = document.getElementById("divAct1");
				pSel1.style.display='block';
				}
			else {
				console.debug(res.value);
				pSel = document.getElementById("divAct");
				pSel.style.display='none';
				pSel1 = document.getElementById("divAct1");
				pSel1.style.display='none';
				}
		}
		</script>
      <tr>
        <td>&nbsp;</td>
        <td><select name="mEnfAct" size="1" id="mEnfAct" onchange="checkAct()">
          <option value="si" selected="selected">Si</option>
          <option value="no">No</option>
        </select></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="2"><strong>En caso de ser positiva su respuesta, seleccione entre las siguientes opciones, una o más, según sea tu caso particular</strong></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td></td>
        <td  id='divAct' style='display:'>
          <input type="checkbox" name="mEnfAct1" id="mEnfAct1" value="Digestivo"/>Digestivo<br>
          <input type="checkbox" name="mEnfAct2" id="mEnfAct2" value="Abdominal"/>Pared Abdominal<br>
          <input type="checkbox" name="mEnfAct3" id="mEnfAct3" value="Cardiovascular" />Cardiovascular<br>
          <input type="checkbox" name="mEnfAct4" id="mEnfAct4" value="Respiratorio" />Respiratorio<br>
          <input type="checkbox" name="mEnfAct5" id="mEnfAct5" value="Renal"/>Renal<br>
          <input type="checkbox" name="mEnfAct6" id="mEnfAct6" value="Genitounirario" />Genitourinario<br>
          <input type="checkbox" name="mEnfAct7" id="mEnfAct7" value="Nervioso"/>Sistema Nervioso Central<br>
          <input type="checkbox" name="mEnfAct8" id="mEnfAct8" value="Oftalmologicas"/>Oftalmológicas<br>
          <input type="checkbox" name="mEnfAct9" id="mEnfAct9" value="Musculoesqueletica"/>Musculoesquelética<br>
          <input type="checkbox" name="mEnfAct10" id="mEnfAct10" value="Otros"/>Otros</td>
        <td valign="bottom"  id='divAct1' style='display:'><input name="mEnfActTexto" type="text" id="mEnfActTexto" value="" size="45" /></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><div align="right"></div></td>
        <td>&nbsp;</td>
        <td>
          <div align="right">
            <input type="submit" name="control" id="action" value="Cancelar" />
        </div></td>
        <td>
          <div align="right">
            <input type="submit" name="control" id="action" value="Guardar" />
        </div></td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>
