<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Censo 2012</title>
<link rel="stylesheet" type="text/css" media="all" href="assets/css/jsDatePick_ltr.min.css" />
<script type="text/javascript" src="assets/js/jsDatePick.min.1.3.js"></script>
<script type="text/javascript">
	window.onload = function(){
		new JsDatePick({
			useMode:2,
			target:"pfechaNac",
			dateFormat:"%d/%m/%Y",
			cellColorScheme:"armygreen",
		});
		new JsDatePick({
			useMode:2,
			target:"pfechaAlta",
			dateFormat:"%d/%m/%Y",
			cellColorScheme:"armygreen",
		});
		new JsDatePick({
			useMode:2,
			target:"pfechaBaja",
			dateFormat:"%d/%m/%Y",
			cellColorScheme:"armygreen",
		});
	};
</script>
<style type="text/css">
@import url(http://fonts.googleapis.com/css?family=Sanchez);
@font-face {
  font-family: "DilleniaUPC";
  src: url(assets/fonts/upcdb.ttf) format("truetype");
}
html, body{ margin:0; height:100%}
body {background-color: #e3f2c7; background-image: url(assets/images/mainback-degrade.png); background-repeat: repeat-x; background-position: 0px -40px;
}
#header-title { position: absolute; top: 30px; right: 20px; background-image: url(assets/images/rayas-titulo.png); height: 300px; width: 500px; background-repeat: no-repeat; background-position: right 45px; padding-right: 25px; }
#header-title h1 {font: 42px/42px 'Sanchez', "Courier New", Courier, monospace, serif; color: #dc2219; font: bold 69px/69px  "DilleniaUPC"; text-shadow: 5px 2px 3px #fffab6; filter: dropshadow(color=#fffab6, offx=5, offy=2); margin: 0px; padding: 0px; text-align: right; }
#header-title h2 { color: #dc2219; font: normal 16px/16px Arial, Helvetica, sans-serif; text-shadow: 5px 2px 3px #fffab6; filter: dropshadow(color=#fffab6, offx=5, offy=2); margin: 0px; padding: 0px; text-align: right; }
#apDiv1 {
	position: absolute;
	left: 18px;
	top: 101px;
	width: 938px;
	height: 440px;
	z-index: 1;
	font-family: Arial, Helvetica, sans-serif;
}
</style>
<script language="JavaScript">
function showData(frm){
        upd = '{{ datos }}';
  if (upd=="1")
  {
    frm.ptipoDoc.value = "{{ depend.tipoDoc }}";
    frm.pnumDoc.value = "{{ depend.numDoc }}";
    frm.papePat.value = "{{ depend.apePat }}";
    frm.papeMat.value = "{{ depend.apeMat }}";
    frm.pnombres.value = "{{ depend.nombres }}";
	var pfechaNac = "{{ depend.fechaNac }}";
	frm.pdiaNac.value = pfechaNac.substr(0,2)
	frm.pmesNac.value = pfechaNac.substr(3,2)
	frm.panoNac.value = pfechaNac.substr(6,4)
	
    frm.psexo.value = "{{ depend.sexo }}";
    frm.pvinculo.value = "{{ depend.vinculo }}";
    frm.ptipoDocSus.value = "{{ depend.tipoDocSus }}";
    frm.pnumDocSus.value = "{{ depend.numDocSus }}"
    
	var pfechaAlta = "{{ depend.fechaAlta }}";
    var pfechaBaja = "{{ depend.fechaBaja }}";
    frm.pdiaAlta.value = pfechaAlta.substr(0,2)
	frm.pmesAlta.value = pfechaAlta.substr(3,2)
	frm.panoAlta.value = pfechaAlta.substr(6,4)
	frm.pdiaBaja.value = pfechaBaja.substr(0,2)
	frm.pmesBaja.value = pfechaBaja.substr(3,2)
	frm.panoBaja.value = pfechaBaja.substr(6,4)
	frm.pmotivBaja.value = "{{ depend.motivBaja }}";
	
    //frm.pdomicProp.value = "{{ depend.domicProp }}";
    //frm.pdomTipoVia.value = "{{ depend.domtipoVia }}";
    //frm.pdomNomVia.value = "{{ depend.domnombreVia }}";
    //frm.pdomTipoZona.value = "{{ depend.domtipoZona }}";
    //frm.pdomnomZona.value = "{{ depend.domnomZona }}";
    //frm.pdomNumero.value = "{{ depend.domnumero }}";
    //frm.pdomInterior.value = "{{ depend.dominterior }}";
    //frm.pdomDept.value = "{{ depend.domDept }}";
    //frm.pdomManzana.value = "{{ depend.domManz }}";
    //frm.pdomLote.value = "{{ depend.domLote }}";
    //frm.pdomKm.value = "{{ depend.domKm }}";
    //frm.pdomBlock.value = "{{ depend.domBlock }}";
    //frm.pdomEtapa.value = "{{ depend.domEtapa }}";
    //frm.pdomReferencia.value = "{{ depend.domRef }}";
    //frm.pubi.disabled=false;
	//frm.pubi.value ="{{ depend.domUbiDep }}"+ "{{depend.domUbiProv}}" + "{{depend.domUbiDist}}" + "-" + "{{depend.domUbiDescrip }}";
    //frm.pubi.disabled=true;
    frm.pDeclarado.value = "{{ depend.declarado }}";
  }
  new JsDatePick({
			useMode:2,
			target:"pfechaNac",
			dateFormat:"%d/%m/%Y",
			cellColorScheme:"armygreen",
		});
		new JsDatePick({
			useMode:2,
			target:"pfechaAlta",
			dateFormat:"%d/%m/%Y",
			cellColorScheme:"armygreen",
		});
		new JsDatePick({
			useMode:2,
			target:"pfechaBaja",
			dateFormat:"%d/%m/%Y",
			cellColorScheme:"armygreen",
		});
}
</script>
</head>

<body onload="showData(document.frmDependientes);"><div id="header-title">
  <h1>Conociéndote</h1>
  <h2>Censo</h2>
</div>
<div id="apDiv1">
  <form id="frmDependientes" name="frmDependientes" method="post" action="">
  <input type="submit" name="control" id="action" value="Cancelar" />
  <input type="hidden" name="frmName" value="page011" />
  <input type="hidden" name="empkey" value="{{emp.key }}"/>
  <input type="hidden" name="depkey" value="{{depend.key}}"/>
  <input type="hidden" name="datos" value="{{datos}}"/>
  <input name="pubigeo" type="hidden" id="pubigeo" />
  <h2>Hola, {{emp.nombres}} {{emp.apePat}}  {{emp.apeMat}}</h2>
<h3>Te invitamos a brindarnos información acerca de tus dependientes (hijos, hijas, esposo, esposa):</h3>
      <table width="907" border="0">
      <tr>
        <td><strong>Dependientes:</strong></td>
        <td>&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><label for="ptipoDoc">Tipo de documento:</label></td>
        <td colspan="3"><select name="ptipoDoc" id="ptipoDoc">
        {% for valor in tipodocs %}
	   <option value="{{ valor.idValor }}">{{ valor.nombre }}</option>
	{% endfor %}
        </select></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="112">&nbsp;</td>
        <td width="157"><label for="pnumDoc">Número de Documento:</label></td>
        <td colspan="3"><input type="text" name="pnumDoc" id="pnumDoc" /></td>
        <td width="90">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><label for="papePat">Apellido Paterno:</label></td>
        <td colspan="3"><input type="text" name="papePat" id="papePat" /></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><label for="papeMat">Apellido Materno:</label></td>
        <td colspan="3"><input type="text" name="papeMat" id="papeMat" /></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><label for="pnombres">Nombres:</label></td>
        <td colspan="3"><input type="text" name="pnombres" id="pnombres" /></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td rowspan="2">&nbsp;</td>
        <td rowspan="2"><label for="pfechaNac">Fecha de nacimiento:</label></td>
        <td>día</td>
        <td>mes</td>
        <td>año</td>
        <td rowspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td><select name="pdiaNac" size="1" id="pdiaNac">
          <option value="01">1</option>
          <option value="02">2</option>
          <option value="03">3</option>
          <option value="04">4</option>
          <option value="05">5</option>
          <option value="06">6</option>
          <option value="07">7</option>
          <option value="08">8</option>
          <option value="09">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </select></td>
        <td><select name="pmesNac" id="pmesNac">
          <option value="01">Enero</option>
          <option value="02">Febrero</option>
          <option value="03">Marzo</option>
          <option value="04">Abril</option>
          <option value="05">Mayo</option>
          <option value="06">Junio</option>
          <option value="07">Julio</option>
          <option value="08">Agosto</option>
          <option value="09">Septiembre</option>
          <option value="10">Octubre</option>
          <option value="11">Noviembre</option>
          <option value="12">Diciembre</option>
        </select></td>
        <td><select name="panoNac" id="panoNac">
          <option value="1930">1930</option>
          <option value="1931">1931</option>
          <option value="1932">1932</option>
          <option value="1933">1933</option>
          <option value="1934">1934</option>
          <option value="1935">1935</option>
          <option value="1936">1936</option>
          <option value="1937">1937</option>
          <option value="1938">1938</option>
          <option value="1939">1939</option>
          <option value="1940">1940</option>
          <option value="1941">1941</option>
          <option value="1942">1942</option>
          <option value="1943">1943</option>
          <option value="1944">1944</option>
          <option value="1945">1945</option>
          <option value="1946">1946</option>
          <option value="1947">1947</option>
          <option value="1948">1948</option>
          <option value="1949">1949</option>
          <option value="1950">1950</option>
          <option value="1951">1951</option>
          <option value="1952">1952</option>
          <option value="1953">1953</option>
          <option value="1954">1954</option>
          <option value="1955">1955</option>
          <option value="1956">1956</option>
          <option value="1957">1957</option>
          <option value="1958">1958</option>
          <option value="1959">1959</option>
          <option value="1960">1960</option>
          <option value="1961">1961</option>
          <option value="1962">1962</option>
          <option value="1963">1963</option>
          <option value="1964">1964</option>
          <option value="1965">1965</option>
          <option value="1966">1966</option>
          <option value="1967">1967</option>
          <option value="1968">1968</option>
          <option value="1969">1969</option>
          <option value="1970">1970</option>
          <option value="1971">1971</option>
          <option value="1972">1972</option>
          <option value="1973">1973</option>
          <option value="1974">1974</option>
          <option value="1975">1975</option>
          <option value="1976">1976</option>
          <option value="1977">1977</option>
          <option value="1978">1978</option>
          <option value="1979">1979</option>
          <option value="1980">1980</option>
          <option value="1981">1981</option>
          <option value="1982">1982</option>
          <option value="1983">1983</option>
          <option value="1984">1984</option>
          <option value="1985">1985</option>
          <option value="1986">1986</option>
          <option value="1987">1987</option>
          <option value="1988">1988</option>
          <option value="1989">1989</option>
          <option value="1990">1990</option>
          <option value="1991">1991</option>
          <option value="1992">1992</option>
          <option value="1993">1993</option>
          <option value="1994">1994</option>
          <option value="1995">1995</option>
          <option value="1996">1996</option>
          <option value="1997">1997</option>
          <option value="1998">1998</option>
          <option value="1999">1999</option>
          <option value="2000">2000</option>
          <option value="2001">2001</option>
          <option value="2002">2002</option>
          <option value="2003">2003</option>
          <option value="2004">2004</option>
          <option value="2005">2005</option>
          <option value="2006">2006</option>
          <option value="2007">2007</option>
          <option value="2008">2008</option>
          <option value="2009">2009</option>
          <option value="2010">2010</option>
          <option value="2011">2011</option>
          <option value="2012">2012</option>
          <option value="2013">2013</option>
          <option value="2014">2014</option>
          <option value="2015">2015</option>
          <option value="2016">2016</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
          <option value="2026">2026</option>
          <option value="2027">2027</option>
          <option value="2028">2028</option>
          <option value="2029">2029</option>
          <option value="2030">2030</option>
          <option value="2031">2031</option>
          <option value="2032">2032</option>
          <option value="2033">2033</option>
          <option value="2034">2034</option>
          <option value="2035">2035</option>
          <option value="2036">2036</option>
          <option value="2037">2037</option>
          <option value="2038">2038</option>
          <option value="2039">2039</option>
          <option value="2040">2040</option>
          <option value="2041">2041</option>
          <option value="2042">2042</option>
          <option value="2043">2043</option>
          <option value="2044">2044</option>
          <option value="2045">2045</option>
          <option value="2046">2046</option>
          <option value="2047">2047</option>
          <option value="2048">2048</option>
          <option value="2049">2049</option>
          <option value="2050">2050</option>
        </select></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><label for="psexo">Sexo:</label></td>
        <td colspan="3"><select name="psexo" id="psexo">
        {% for valor in sexos %}
	   <option value="{{ valor.idValor }}">{{ valor.nombre }}</option>
	{% endfor %}
        </select></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><label for="pvinculo">Vínculo:</label></td>
        <td colspan="3"><select name="pvinculo" id="pvinculo">
        {% for valor in vinculos %}
	   <option value="{{ valor.idValor }}">{{ valor.nombre }}</option>
	{% endfor %}
        </select></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><div align="right"><strong>Sustento:</strong></div></td>
        <td>&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Tipo de documento:</td>
        <td colspan="3"><select name="ptipoDocSus" id="ptipoDocSus">
        {% for valor in docsus %}
	   <option value="{{ valor.idValor }}">{{ valor.nombre }}</option>
	{% endfor %}
        </select></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><label for="pnumDocSus">Número de documento:</label></td>
        <td colspan="3"><input type="text" name="pnumDocSus" id="pnumDocSus" /></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td rowspan="2">&nbsp;</td>
        <td>&nbsp;</td>
        <td width="106">día</td>
        <td width="136">mes</td>
        <td width="280">año</td>
        <td rowspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td>Fecha de alta:</td>
        <td><select name="pdiaAlta" size="1" id="pdiaAlta">
          <option value="01">1</option>
          <option value="02">2</option>
          <option value="03">3</option>
          <option value="04">4</option>
          <option value="05">5</option>
          <option value="06">6</option>
          <option value="07">7</option>
          <option value="08">8</option>
          <option value="09">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </select></td>
        <td width="136"><select name="pmesAlta" id="pmesAlta">
          <option value="01">Enero</option>
          <option value="02">Febrero</option>
          <option value="03">Marzo</option>
          <option value="04">Abril</option>
          <option value="05">Mayo</option>
          <option value="06">Junio</option>
          <option value="07">Julio</option>
          <option value="08">Agosto</option>
          <option value="09">Septiembre</option>
          <option value="10">Octubre</option>
          <option value="11">Noviembre</option>
          <option value="12">Diciembre</option>
        </select></td>
        <td width="280"><select name="panoAlta" id="panoAlta">
          <option value="1930">1930</option>
          <option value="1931">1931</option>
          <option value="1932">1932</option>
          <option value="1933">1933</option>
          <option value="1934">1934</option>
          <option value="1935">1935</option>
          <option value="1936">1936</option>
          <option value="1937">1937</option>
          <option value="1938">1938</option>
          <option value="1939">1939</option>
          <option value="1940">1940</option>
          <option value="1941">1941</option>
          <option value="1942">1942</option>
          <option value="1943">1943</option>
          <option value="1944">1944</option>
          <option value="1945">1945</option>
          <option value="1946">1946</option>
          <option value="1947">1947</option>
          <option value="1948">1948</option>
          <option value="1949">1949</option>
          <option value="1950">1950</option>
          <option value="1951">1951</option>
          <option value="1952">1952</option>
          <option value="1953">1953</option>
          <option value="1954">1954</option>
          <option value="1955">1955</option>
          <option value="1956">1956</option>
          <option value="1957">1957</option>
          <option value="1958">1958</option>
          <option value="1959">1959</option>
          <option value="1960">1960</option>
          <option value="1961">1961</option>
          <option value="1962">1962</option>
          <option value="1963">1963</option>
          <option value="1964">1964</option>
          <option value="1965">1965</option>
          <option value="1966">1966</option>
          <option value="1967">1967</option>
          <option value="1968">1968</option>
          <option value="1969">1969</option>
          <option value="1970">1970</option>
          <option value="1971">1971</option>
          <option value="1972">1972</option>
          <option value="1973">1973</option>
          <option value="1974">1974</option>
          <option value="1975">1975</option>
          <option value="1976">1976</option>
          <option value="1977">1977</option>
          <option value="1978">1978</option>
          <option value="1979">1979</option>
          <option value="1980">1980</option>
          <option value="1981">1981</option>
          <option value="1982">1982</option>
          <option value="1983">1983</option>
          <option value="1984">1984</option>
          <option value="1985">1985</option>
          <option value="1986">1986</option>
          <option value="1987">1987</option>
          <option value="1988">1988</option>
          <option value="1989">1989</option>
          <option value="1990">1990</option>
          <option value="1991">1991</option>
          <option value="1992">1992</option>
          <option value="1993">1993</option>
          <option value="1994">1994</option>
          <option value="1995">1995</option>
          <option value="1996">1996</option>
          <option value="1997">1997</option>
          <option value="1998">1998</option>
          <option value="1999">1999</option>
          <option value="2000">2000</option>
          <option value="2001">2001</option>
          <option value="2002">2002</option>
          <option value="2003">2003</option>
          <option value="2004">2004</option>
          <option value="2005">2005</option>
          <option value="2006">2006</option>
          <option value="2007">2007</option>
          <option value="2008">2008</option>
          <option value="2009">2009</option>
          <option value="2010">2010</option>
          <option value="2011">2011</option>
          <option value="2012">2012</option>
          <option value="2013">2013</option>
          <option value="2014">2014</option>
          <option value="2015">2015</option>
          <option value="2016">2016</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
          <option value="2026">2026</option>
          <option value="2027">2027</option>
          <option value="2028">2028</option>
          <option value="2029">2029</option>
          <option value="2030">2030</option>
          <option value="2031">2031</option>
          <option value="2032">2032</option>
          <option value="2033">2033</option>
          <option value="2034">2034</option>
          <option value="2035">2035</option>
          <option value="2036">2036</option>
          <option value="2037">2037</option>
          <option value="2038">2038</option>
          <option value="2039">2039</option>
          <option value="2040">2040</option>
          <option value="2041">2041</option>
          <option value="2042">2042</option>
          <option value="2043">2043</option>
          <option value="2044">2044</option>
          <option value="2045">2045</option>
          <option value="2046">2046</option>
          <option value="2047">2047</option>
          <option value="2048">2048</option>
          <option value="2049">2049</option>
          <option value="2050">2050</option>
        </select></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Fecha de baja:</td>
        <td><select name="pdiaBaja" size="1" id="pdiaBaja">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
          </select>
        </td>
        <td><select name="pmesBaja" id="pmesBaja">
          <option value="01">Enero</option>
          <option value="02">Febrero</option>
          <option value="03">Marzo</option>
          <option value="04">Abril</option>
          <option value="05">Mayo</option>
          <option value="06">Junio</option>
          <option value="07">Julio</option>
          <option value="08">Agosto</option>
          <option value="09">Septiembre</option>
          <option value="10">Octubre</option>
          <option value="11">Noviembre</option>
          <option value="12">Diciembre</option>
        </select></td>
        <td><select name="panoBaja" id="panoBaja">
          <option value="1930">1930</option>
          <option value="1931">1931</option>
          <option value="1932">1932</option>
          <option value="1933">1933</option>
          <option value="1934">1934</option>
          <option value="1935">1935</option>
          <option value="1936">1936</option>
          <option value="1937">1937</option>
          <option value="1938">1938</option>
          <option value="1939">1939</option>
          <option value="1940">1940</option>
          <option value="1941">1941</option>
          <option value="1942">1942</option>
          <option value="1943">1943</option>
          <option value="1944">1944</option>
          <option value="1945">1945</option>
          <option value="1946">1946</option>
          <option value="1947">1947</option>
          <option value="1948">1948</option>
          <option value="1949">1949</option>
          <option value="1950">1950</option>
          <option value="1951">1951</option>
          <option value="1952">1952</option>
          <option value="1953">1953</option>
          <option value="1954">1954</option>
          <option value="1955">1955</option>
          <option value="1956">1956</option>
          <option value="1957">1957</option>
          <option value="1958">1958</option>
          <option value="1959">1959</option>
          <option value="1960">1960</option>
          <option value="1961">1961</option>
          <option value="1962">1962</option>
          <option value="1963">1963</option>
          <option value="1964">1964</option>
          <option value="1965">1965</option>
          <option value="1966">1966</option>
          <option value="1967">1967</option>
          <option value="1968">1968</option>
          <option value="1969">1969</option>
          <option value="1970">1970</option>
          <option value="1971">1971</option>
          <option value="1972">1972</option>
          <option value="1973">1973</option>
          <option value="1974">1974</option>
          <option value="1975">1975</option>
          <option value="1976">1976</option>
          <option value="1977">1977</option>
          <option value="1978">1978</option>
          <option value="1979">1979</option>
          <option value="1980">1980</option>
          <option value="1981">1981</option>
          <option value="1982">1982</option>
          <option value="1983">1983</option>
          <option value="1984">1984</option>
          <option value="1985">1985</option>
          <option value="1986">1986</option>
          <option value="1987">1987</option>
          <option value="1988">1988</option>
          <option value="1989">1989</option>
          <option value="1990">1990</option>
          <option value="1991">1991</option>
          <option value="1992">1992</option>
          <option value="1993">1993</option>
          <option value="1994">1994</option>
          <option value="1995">1995</option>
          <option value="1996">1996</option>
          <option value="1997">1997</option>
          <option value="1998">1998</option>
          <option value="1999">1999</option>
          <option value="2000">2000</option>
          <option value="2001">2001</option>
          <option value="2002">2002</option>
          <option value="2003">2003</option>
          <option value="2004">2004</option>
          <option value="2005">2005</option>
          <option value="2006">2006</option>
          <option value="2007">2007</option>
          <option value="2008">2008</option>
          <option value="2009">2009</option>
          <option value="2010">2010</option>
          <option value="2011">2011</option>
          <option value="2012">2012</option>
          <option value="2013">2013</option>
          <option value="2014">2014</option>
          <option value="2015">2015</option>
          <option value="2016">2016</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
          <option value="2026">2026</option>
          <option value="2027">2027</option>
          <option value="2028">2028</option>
          <option value="2029">2029</option>
          <option value="2030">2030</option>
          <option value="2031">2031</option>
          <option value="2032">2032</option>
          <option value="2033">2033</option>
          <option value="2034">2034</option>
          <option value="2035">2035</option>
          <option value="2036">2036</option>
          <option value="2037">2037</option>
          <option value="2038">2038</option>
          <option value="2039">2039</option>
          <option value="2040">2040</option>
          <option value="2041">2041</option>
          <option value="2042">2042</option>
          <option value="2043">2043</option>
          <option value="2044">2044</option>
          <option value="2045">2045</option>
          <option value="2046">2046</option>
          <option value="2047">2047</option>
          <option value="2048">2048</option>
          <option value="2049">2049</option>
          <option value="2050">2050</option>
        </select></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><label for="pmotivBaja">Motivo de baja:</label></td>
        <td colspan="3"><select name="pmotivBaja" id="pmotivBaja">
        {% for valor in motbajas %}
	   <option value="{{ valor.idValor }}">{{ valor.nombre }}</option>
	{% endfor %}
        </select></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <!-- <SCRIPT LANGUAGE="javascript">
      function OnChange()
      { 
	    var form = document.forms['frmDependientes'];
		if (form.pdomicProp.value == '1') {
		pdomTipoVia.value='01';
		pdomNomVia.value='';
		pdomTipoZona.value='01';
		pdomnomZona.value='';
		pdomNumero.value='';
		pdomInterior.value='';
		pdomDept.value='';
		pdomManzana.value='';
		pdomLote.value='';
		pdomKm.value='';
		pdomBlock.value='';
		pdomEtapa.value='';
		pdomReferencia.value='';
		
		pdomTipoVia.disabled=true;
		pdomNomVia.disabled=true;
		pdomTipoZona.disabled=true;
		pdomnomZona.disabled=true;
		pdomNumero.disabled=true;
		pdomInterior.disabled=true;
		pdomDept.disabled=true;
		pdomManzana.disabled=true;
		pdomLote.disabled=true;
		pdomKm.disabled=true;
		pdomBlock.disabled=true;
		pdomEtapa.disabled=true;
		pdomReferencia.disabled=true;
		}
		else {
		pdomTipoVia.disabled=false;
		pdomTipoVia.value='01';
		pdomNomVia.disabled=false;
		pdomTipoZona.disabled=false;
		pdomTipoZona.value='01';
		pdomnomZona.disabled=false;
		pdomNumero.disabled=false;
		pdomInterior.disabled=false;
		pdomDept.disabled=false;
		pdomManzana.disabled=false;
		pdomLote.disabled=false;
		pdomKm.disabled=false;
		pdomBlock.disabled=false;
		pdomEtapa.disabled=false;
		pdomReferencia.disabled=false;
		}
	}
</SCRIPT> -->
      <tr>
        <td colspan="5"><strong>¿Ya ha declarado a su familiar con Bienestar Social?</strong></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td colspan="3"><select name="pDeclarado" id="pDeclarado">
          {% for valor in sinos %}
          <option value="{{ valor.idValor }}">{{ valor.nombre }}</option>
	{% endfor %}
        </select></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td colspan="3">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td colspan="3">
          <div align="right">
            <input type="submit" name="control" id="action" value="Cancelar" />
        </div></td>
        <td>
          <div align="right">
            <input type="submit" name="control" id="action" value="Guardar" />
        </div></td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>
