<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Conociéndote | Inkafarma</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-responsive.css">
		<link rel="stylesheet" type="text/css" href="assets/css/imperio.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
<script language="JavaScript">
function showData(frm){
        upd = "{{ datos }}";
		frm.datos.value = upd;
  if (upd=="1")
  {
	{% for valor in libres %}
	frm.librekey.value= "{{ valor.key }}";
	frm.cuentared.value = "{{ valor.empCuenta }}";
    frm.anexoempresa.value = "{{ valor.empAnexo }}";
    frm.celularempresa.value = "{{ valor.empCelular }}";
    frm.rpmempresa.value = "{{ valor.empRPM }}";
    frm.emailempresa.value = "{{ valor.empEmail}}";
	{% endfor %}
	frm.datos.value =1
	frm.mVacunas.value = "{{ mVac }}";
	frm.hSalida.value = "{{ hSalida }}";
	frm.hSalidaNote.value ="{{ hSalidaNote }}";
	var res=document.getElementById("hSalida");
	if (res.value=='otros') {
	    console.debug(res.value);
	    pSel = document.getElementById("tdOtrosHijo");
	    pSel.style.display='block';}
	else {
	    console.debug(res.value);
	    pSel = document.getElementById("tdOtrosHijo");
	    pSel.style.display='none';
	}
	frm.mEnf.value = "{{ antEnf }}";
	if ('{{ antEnf1 }}'=='True') frm.mEnf1.checked = 'true';
	if ('{{ antEnf2 }}'=='True') frm.mEnf2.checked = 'true';
	if ('{{ antEnf3 }}'=='True') frm.mEnf3.checked = 'true';
	if ('{{ antEnf4 }}'=='True') frm.mEnf4.checked = 'true';
	if ('{{ antEnf5 }}'=='True') frm.mEnf5.checked = 'true';
	if ('{{ antEnf6 }}'=='True') frm.mEnf6.checked = 'true';
	if ('{{ antEnf7 }}'=='True') frm.mEnf7.checked = 'true';
	if ('{{ antEnf8 }}'=='True') frm.mEnf8.checked = 'true';
	if ('{{ antEnf9 }}'=='True') frm.mEnf9.checked = 'true';
	if ('{{ antEnf10 }}'=='True') frm.mEnf10.checked = 'true';
	frm.mEnfTexto.value = "{{ antEnfNote }}"
	frm.mEnfAct.value = "{{ actEnf }}";
	if ('{{ actEnf1 }}'=='True') frm.mEnfAct1.checked = 'true';
	if ('{{ actEnf2 }}'=='True') frm.mEnfAct2.checked = 'true';
	if ('{{ actEnf3 }}'=='True') frm.mEnfAct3.checked = 'true';
	if ('{{ actEnf4 }}'=='True') frm.mEnfAct4.checked = 'true';
	if ('{{ actEnf5 }}'=='True') frm.mEnfAct5.checked = 'true';
	if ('{{ actEnf6 }}'=='True') frm.mEnfAct6.checked = 'true';
	if ('{{ actEnf7 }}'=='True') frm.mEnfAct7.checked = 'true';
	if ('{{ actEnf8 }}'=='True') frm.mEnfAct8.checked = 'true';
	if ('{{ actEnf9 }}'=='True') frm.mEnfAct9.checked = 'true';
	if ('{{ actEnf10 }}'=='True') frm.mEnfAct10.checked = 'true';
	frm.mEnfActTexto.value = "{{ actEnfNote }}";
	
	var res=document.getElementById("mEnf");
	if (res.value=='si') {
		console.debug(res.value);
		pSel = document.getElementById("divEnf");
		pSel.style.display='block';
		pSel1 = document.getElementById("divEnf1");
		pSel1.style.display='block';
		} else {
		console.debug(res.value);
		pSel = document.getElementById("divEnf");
		pSel.style.display='none';
		pSel1 = document.getElementById("divEnf1");
		pSel1.style.display='none';
	}
	
	var res=document.getElementById("mEnfAct");
	if (res.value=='si') {
		console.debug(res.value);
		pSel = document.getElementById("divAct");
		pSel.style.display='block';
		pSel1 = document.getElementById("divAct1");
		pSel1.style.display='block';
		} else {
		console.debug(res.value);
		pSel = document.getElementById("divAct");
		pSel.style.display='none';
		pSel1 = document.getElementById("divAct1");
		pSel1.style.display='none';
	}
  }
}
function limitText(limitField, limitNum) {
    if (limitField.value.length > limitNum) {
        limitField.value = limitField.value.substring(0, limitNum);
    } 
}

function isNumberKey(evt)
{
	var charCode = (evt.which) ? evt.which : event.keyCode;
	if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57))
		return false;
	return true;
}
</script>
<script>
function formSubmit(valor)
{
    switch (valor)
    {
    case 1:
	document.forms["frmMain"].pOpcion.value = "1.- Información Personal";
	break;
    case 2:
	document.forms["frmMain"].pOpcion.value = "2.- Dependientes";
	break;
    case 3:
	document.forms["frmMain"].pOpcion.value = "3.- Estudios";
	break;
    case 4:
	document.forms["frmMain"].pOpcion.value = "4.- Capacitaciones";
	break;
    case 5:
	document.forms["frmMain"].pOpcion.value = "5.- Experiencia Laboral";
	break;
    case 6:
	document.forms["frmMain"].pOpcion.value = "6.- Habilidades";
	break;
    case 7:
	document.forms["frmMain"].pOpcion.value = "7.- Hobbies" ;
	break;
    case 8:
	document.forms["frmMain"].pOpcion.value = "8.- Datos Adicionales" ;
	break;
    case 9:
	document.forms["frmMain"].pOpcion.value = "Salir" ;
	break;
    }
    document.frmMain.submit();
}
</script>		
</head>
    <body onload="showData(document.frmPersonal);">
<form action="main.html" method="post" name="frmMain" target="_self">
    <input type="hidden" name="frmName" value="main" />
    <input type="hidden" name="empkey" value="{{emp.key}}"/>
    <input type="hidden" name="pOpcion"/>
</form>

        <div class="container-fluid nopadding">
            <div class="row-fluid">
                <div class="span12">
                    <div id="header">
<a href="#">
<img src="assets/images/logo.png" alt="">
</a>
<div class="hright">
<a href="javascript:formSubmit(9);"><button class="btn btn-danger"><i class="icon-remove icon-white"></i> Cerrar Sesión</button></a>
</div>
</div>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="container">
            <div class="row-fluid">
            
                <div class="span3 leftmenu">
                    <ul style="position: relative; top: 0px; width: auto;">
                        <li><a href="javascript:formSubmit(1);"><span class="ico"><i class="icon-user"></i></span><span class="text">Información Personal</span></a></li>
                        <li><a href="javascript:formSubmit(2);"><span class="ico"><i class="icon-th-list"></i></span><span class="text">Dependientes</span></a></li>
                        <li><a href="javascript:formSubmit(3);"><span class="ico"><i class="icon-book"></i></span><span class="text">Estudios</span></a></li>
                        <li><a href="javascript:formSubmit(4);"><span class="ico"><i class="icon-ok"></i></span><span class="text">Capacitaciones</span></a></li>
                        <li><a href="javascript:formSubmit(5);"><span class="ico"><i class="icon-briefcase"></i></span><span class="text">Experiencia Laboral</span></a></li>
                        <li><a href="javascript:formSubmit(6);"><span class="ico"><i class="icon-check"></i></span><span class="text">Habilidades</span></a></li>              
                        <li><a href="javascript:formSubmit(7);"><span class="ico"><i class="icon-eye-open"></i></span><span class="text">Hobbies</span></a></li>
                        <li class="active"><a href="javascript:formSubmit(8);"><span class="ico"><i class="icon-plus-sign"></i></span><span class="text">Datos Adicionales</span></a></li>
                        <li style="color:#30782e;"><br><strong>* Si no puedes terminar el censo, puedes darle "Guardar" y luego seguir contestando en otro momento.</strong></li>
                    </ul>                                    
                </div>
		<form id="frmPersonal" name="frmPersonal" method="post" action="" class="form-horizontal" novalidate>
    <input type="hidden" name="frmName" value="page080" />
    <input type="hidden" name="empkey" value="{{emp.key}}"/>
    <input type="hidden" name="librekey" value=""/>
    <input name="pubigeo" type="hidden" id="pubigeo" />
    <input name="datos" type="hidden" id="datos" />
                <div class="span9" id="content">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="box alternate">                                
                                <div class="box-content nopadding">
                                        <div class="box-content">Datos Adicionales:</div>                                        
                                        <div class="control-group">
                                            <label class="control-label">Usuario de Red</label>
                                            <div class="controls">
                                                <input type="text" name="cuentared" id="cuentared" onkey="limitText(nomVia,20);"/>
                                            </div>
                                        </div>                                    
                                        <div class="control-group">
                                            <label class="control-label">Anexo Empresa</label>
                                            <div class="controls">
                                                <input type="text" name="anexoempresa" id="anexoempresa" onkey="limitText(anexoempresa,20);"/>
                                            </div>
                                        </div>                                        
                                        <div class="control-group">
                                            <label class="control-label">Celular Empresa</label>
                                            <div class="controls">
                                                <input type="text" name="celularempresa" id="celularempresa" onkey="limitText(celularempresa,20);"/>
                                            </div>
                                        </div>                                        
                                        <div class="control-group">
                                            <label class="control-label">RPM Empresa</label>
                                            <div class="controls">
                                                <input type="text" name="rpmempresa" id="rpmempresa" onkey="limitText(rpmempresa,20);" />
                                            </div>
                                        </div>                                        
                                        <div class="control-group">
                                            <label class="control-label">Email Empresa</label>
                                            <div class="controls">
                                                <input type="text" name="emailempresa" id="emailempresa" onkey="limitText(emailempresa,100);"/>
                                            </div>
                                        </div>                                                                                                                                                              
                                        <div class="box-content">Si tienes hijos, ¿Tienen ellos todas sus vacunas?</div>                                        
                                        <div class="control-group">
                                            <label class="control-label">Indique</label>
                                            <div class="controls">
                                                <select name="mVacunas" size="1" id="mVacunas">
          <option value="Si" selected="selected">Si</option>
          <option value="No">No</option>
          <option value="Nohijos">No tengo hijos</option>
        </select>
                                            </div>
                                        </div>
<script>
		function checkHijos() {
			var res=document.getElementById("hSalida");
			if (res.value=='otros') {
				console.debug(res.value);
				pSel = document.getElementById("tdOtrosHijo");
				pSel.style.display='block';
				}
			else {
				console.debug(res.value);
				pSel = document.getElementById("tdOtrosHijo");
				pSel.style.display='none';
				}
		}
		</script>                                        
                                        <div class="box-content">Si tienes hijos, ¿Con quién se quedan tus hijos cuando sales a trabajar?</div>
                                        
                                        <div class="control-group">
                                            <label class="control-label">Indique</label>
                                            <div class="controls">
                                                <select name="hSalida" size="1" id="hSalida" onchange="checkHijos()">
          <option value="ninera" selected="selected">Con una niñera</option>
          <option value="familiar">Con un familiar</option>
          <option value="solos">Solos</option>
          <option value="colegio">Colegio/Guarderia</option>
          <option value="otros">Otros</option>
          <option value="no">No tengo hijos</option>
        </select>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">Indique</label>
                                            <div class="controls" id="tdOtrosHijo" style="display:none">
                                                <input name="hSalidaNote" type="text" id="hSalidaNote" value="" size="45" />
                                            </div>
                                        </div>
                                        
                                        <div class="box-content">¿Tiene antecedentes de alguna enfermedad?</div>
<script>
		function checkAntEnf() {
			var res=document.getElementById("mEnf");
			if (res.value=='si') {
				console.debug(res.value);
				pSel = document.getElementById("divEnf");
				pSel.style.display='block';
				pSel1 = document.getElementById("divEnf1");
				pSel1.style.display='block';
				}
			else {
				console.debug(res.value);
				pSel = document.getElementById("divEnf");
				pSel.style.display='none';
				pSel1 = document.getElementById("divEnf1");
				pSel1.style.display='none';
				document.frmPersonal.mEnf1.checked = 'false';
				document.frmPersonal.mEnf2.checked = 'false';
				document.frmPersonal.mEnf3.checked = 'false';
				document.frmPersonal.mEnf4.checked = 'false';
				document.frmPersonal.mEnf5.checked = 'false';
				document.frmPersonal.mEnf6.checked = 'false';
				document.frmPersonal.mEnf7.checked = 'false';
				document.frmPersonal.mEnf8.checked = 'false';
				document.frmPersonal.mEnf9.checked = 'false';
				document.frmPersonal.mEnf10.checked = 'false';
				}
		}
		</script>                                        
                                        <div class="control-group">
                                            <label class="control-label">Indique</label>
                                            <div class="controls">
                                                <select name="mEnf" size="1" id="mEnf" onchange="checkAntEnf()">
            <option value="si" selected="selected">Si</option>
            <option value="no">No</option>
        </select>
                                            </div>
                                                                                        
                                            <div id='divEnf' style='display:block' class="controls">
                                            <span id="small">En caso de ser positiva su respuesta, selecciona entre las siguientes opciones, una o más, según sea tu caso particular:</span><br /><br />
                                                <input type="checkbox" name="mEnf1" id="mEnf1" value="Yes">Alergias</input><br>
          <input type="checkbox" name="mEnf2" id="mEnf2" value="Yes">Diabetes</input><br>
          <input type="checkbox" name="mEnf3" id="mEnf3" value="Yes">TBC</input><br>
          <input type="checkbox" name="mEnf4" id="mEnf4" value="Yes">Hepatitis B</input><br>
          <input type="checkbox" name="mEnf5" id="mEnf5" value="Yes">Asma</input><br>
          <input type="checkbox" name="mEnf6" id="mEnf6" value="Yes">Tifoidea</input><br>
          <input type="checkbox" name="mEnf7" id="mEnf7" value="Yes">Bronquitis</input><br>
          <input type="checkbox" name="mEnf8" id="mEnf8" value="Yes">Neoplasia</input><br>
          <input type="checkbox" name="mEnf9" id="mEnf9" value="Yes">Convulsiones</input><br>
          <input type="checkbox" name="mEnf10" id="mEnf10" value="Yes">Otros</input>
                                            </div>
                                            <div class="control-group">
                                            <label class="control-label">Otro</label>
                                            <div class="controls" id='divEnf1' style='display:block'>
                                                <input name="mEnfTexto" type="text" id="mEnfTexto" value="" size="45" />
                                            </div>
                                        </div>  
                                        </div>
                                        
                                        <div class="box-content">¿Sufres actualmente de alguna enfermedad?</div>
<script>
		function checkAct() {
			var res=document.getElementById("mEnfAct");
			if (res.value=='si') {
				console.debug(res.value);
				pSel = document.getElementById("divAct");
				pSel.style.display='block';
				pSel1 = document.getElementById("divAct1");
				pSel1.style.display='block';
				}
			else {
				console.debug(res.value);
				pSel = document.getElementById("divAct");
				pSel.style.display='none';
				pSel1 = document.getElementById("divAct1");
				pSel1.style.display='none';
				document.frmPersonal.mEnfAct1.checked = 'false';
				document.frmPersonal.mEnfAct2.checked = 'false';
				document.frmPersonal.mEnfAct3.checked = 'false';
				document.frmPersonal.mEnfAct4.checked = 'false';
				document.frmPersonal.mEnfAct5.checked = 'false';
				document.frmPersonal.mEnfAct6.checked = 'false';
				document.frmPersonal.mEnfAct7.checked = 'false';
				document.frmPersonal.mEnfAct8.checked = 'false';
				document.frmPersonal.mEnfAct9.checked = 'false';
				document.frmPersonal.mEnfAct10.checked = 'false';
				}
		}
		</script>                                        
                                        <div class="control-group">
                                            <label class="control-label">Indique</label>
                                            <div class="controls">
                                                <select name="mEnfAct" size="1" id="mEnfAct" onchange="checkAct()">
          <option value="si" selected="selected">Si</option>
          <option value="no">No</option>
        </select>
                                            </div>
                                                                                        
                                            <div class="controls" id='divAct' style='display:block'>
                                            <span id="small">En caso de ser positiva su respuesta, selecciona entre las siguientes opciones, una o más, según sea tu caso particular:</span><br /><br />
                                                <input type="checkbox" name="mEnfAct1" id="mEnfAct1" value="Yes"/>Digestivo<br>
          <input type="checkbox" name="mEnfAct2" id="mEnfAct2" value="Yes"/>Pared Abdominal<br>
          <input type="checkbox" name="mEnfAct3" id="mEnfAct3" value="Yes" />Cardiovascular<br>
          <input type="checkbox" name="mEnfAct4" id="mEnfAct4" value="Yes" />Respiratorio<br>
          <input type="checkbox" name="mEnfAct5" id="mEnfAct5" value="Yes"/>Renal<br>
          <input type="checkbox" name="mEnfAct6" id="mEnfAct6" value="Yes" />Genitourinario<br>
          <input type="checkbox" name="mEnfAct7" id="mEnfAct7" value="Yes"/>Sistema Nervioso Central<br>
          <input type="checkbox" name="mEnfAct8" id="mEnfAct8" value="Yes"/>Oftalmológicas<br>
          <input type="checkbox" name="mEnfAct9" id="mEnfAct9" value="Yes"/>Musculoesquelética<br>
          <input type="checkbox" name="mEnfAct10" id="mEnfAct10" value="Yes"/>Otros<br>
                                            </div>
                                            <div class="control-group">
                                            <label class="control-label">Otro</label>
                                            <div class="controls" id='divAct1' style='display:block'>
                                                <input name="mEnfActTexto" type="text" id="mEnfActTexto" value="" size="45" />
                                            </div>
                                        </div>  
                                        </div>                                                                                                                    
                                        <div class="form-actions">
                                            <input type="submit" class="btn btn-danger" name="control" id="action" value="Guardar" />
                                            <input type="submit" class="btn btn-primary delete" name="control" id="action" value="Cancelar" />
                                        </div>
                                    </form>
                                </div>                                
                                <div class="box-title" style="text-align:right">
                                <img src="assets/images/logo-ink.png">
                                </div>                            
                            </div>                        
                        </div>
                    </div>
                </div>
            
            </div>       
        </div>    
        <script type="text/javascript" src="assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="assets/js/imperio.general.js"></script>
        <script type="text/javascript" src="assets/js/imperio.forms.js"></script>    
</body>
</html>